@import url("https://fonts.googleapis.com/css2?family=Acme&family=Great+Vibes&display=swap");

* {
  transition: 0.3s;
  box-sizing: border-box;
}

.header-txt {
  font-family: "Acme", sans-serif;
  font-family: "Great Vibes", cursive;
  display: flex;
  justify-content: center;
  font-size: 64px;
}

.img-wrapper {
  height: 100px;
  width: 100px;
}

.img-thumbnail {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
